.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center ;

}


.heading{

}

.price{

}

.title{

}

.bin{

}

.cartContainer{
text-align: start;  
    width:80vw;
    /* background-color: aqua; */
    /* background-color: white */
}

.productInnerWrapper{
    width: 60vw;
}

.ProductContainer{
    /* align-items:center ; */
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* background-color: rgb(255, 74, 74); */
    border: 2px solid #dddddd;   
    /* padding-left: 1vw; */
    /* border-bottom: 2px solid #dddddd;    */
}

.productsHeader{
    align-items: center;
    height: 8vh;
display: flex;
justify-content: space-around;
background-color: #F8F8F8
}

.productitemContainer{
    padding-top: 2vh;
    padding-bottom: 2vh;
        border-bottom: 2px solid #dddddd;    
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.totalContainer{
    padding-right: 5vw;
    height: 8vh;
    background-color: #F8F8F8;
    display: flex;
    justify-content: end;
    gap: 7vw;
    align-items: center;
    /* width: 100%; */
}
.priceText{
    font-size: 1vw;
    font-weight: 600;
    color: #4f4f4f;
    /* color: #f2f2f2; */
}

.qtyBox{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 3vw;
    height: 1.8vw;
    border-bottom: .1vw solid #b2b2b2;
    border-top: .1vw solid #b2b2b2;
    font-size: 1vw;
}
.totalText{
    color: #262626;
}

.deleteIcon{
    height: 2vw;
    width: 2vw;
}
.spacing{
    width: 5vw;
}

.headingText{
    color: #414141;
    /* font-size: x-large; */
    font-size: 1.4vw;
    /* font-size: x-large; */
    font-weight: 600;
}



.CheckoutContainer{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 10vh;

}

.voucherContainer{
    width:40%;
    /* background-color:#9c9c9c */
}

.checkoutInnerContainer{
    width:70%;
    /* background-color: #F8F8F8; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background-color:#9e9e9e */
}

.applybtn{
    color: white;
    background-color: #262626;
    border: none;
    outline: none;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    /* height: 1vh;
    width: 1vw; */
}



.textInput{
    /* border: none; */
    /* border: 1px solid #b2b2b2; */
    border: 1px solid #E0E0E0;
    
    height: 4vh;
    padding-left: 1vw;
    margin-bottom: 2vh;
    outline: none;
    width:18vw
}

.textInput::placeholder{
    color:  #515151;

}

.checkoutContent{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eeeeee;
   



}

.applybtn:hover{
    background-color:#000000 ;
}

.btnCheckout:hover{
    background-color:#9e2828 ;
}

.btnCheckout{
    background-color: #FF3C3C;
    border: none;
    outline: none;
    color:white;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;

}

.btnText{
    font-size: larger;
}


.iconContainer{
    width: 3vw;
    height: 2vw;
    /* width:29px;
    height: 29px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b2b2b2;

}


.qtyContainer{
    display: flex;
    width: 5vw;
 
    justify-content: center;
    align-items: center;

}


@media screen and (max-width:13) {
    
}